@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Ubuntu:wght@300&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #396E94   ;/*steel gray*/
  --secondary-color: #f3f3f3 ;/*gray white*/
  --accent1-color: #cccccc;/*light*/
  --accent2-color: #474747;/*dark gray*/
  --accent3-color: #cd5909;/*Rust Orange*/

  --heading-font: 'Orbitron', sans-serif;
  --paragraph-font: 'Ubuntu', sans-serif;



}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
html{
  font-family: var(--paragraph-font);
}

  body{
    text-align: center;
  }
  footer{
    font-family: var(--heading-font);
    font-size: small;
    margin-top: 1rem;
  }
  h2{
    font-family: var(--heading-font);
  }
  .logo {
    line-height: 60px;
    width: 260px;
    overflow: hidden;
    display: flex;
    font-size: .5rem;
    text-align: right;
    font-family: var(--heading-font);
  }
  .logo img {
    width: 60px;
    height: 60px;
  }
  .logo a {
    text-decoration: none;
    color: var(--font-body);
  }
  #title{
    padding-left: 5px;
  }
  .divider {
    border-bottom: 2px solid var(--primary-color);
  }
  .divider li{
    border: 2px solid var(--primary-color);
  }
  .heroMsg{
    text-align: center;
    padding: 2rem;

  }

  .user {
    position: relative;
    text-align: center;
  }
  .user img {
    width: 60px;
  }
 
  .user:hover {
    fill: gray;
  }


.icon{
  width: 60%;
  margin: auto;
  align-self: auto;

}

a, a h2 {
  text-decoration: none;
  color: var(--dark-grey);
  font-size: small;
}

#icon-type, #typeDisplay{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.icon-type a img{
  width: 100%;
}
#typeDisplay{
  margin-top: 10px;
}

.exercise{
  margin: auto;
  text-align: left;
  margin-bottom: 1em;
  padding: 1em;
 width: 30%;
 min-width: 20%;
  border: var(--accent3-color);
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
}


#excerciseWorkout{
  width: 80%;
}
.favImg, .delImg{
 max-width: 20px;
 float: right;
}